form
{
    width: 500px;
    height: 780px;
    justify-content: center;
    margin: 100px 500px;
    padding: 30px;
    color: var(--secondary-color);
    font-weight: bold;
}
button
{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: #fff;
}
button:hover
{
    background-color: var(--primary-color);
}
