.nav-link
{
    color: var(--secondary-color);
    font-weight: bold;
    
}

.active-link
{
    color: var(--primary-color);
    font-weight: bold;
    
}
h1
{
    color:#52307c;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
a
{
    color:#52307c;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
}
nav img
{
    position: static;
    height: 50px;
    width: 50px;
}